<div class="contents row">
  <div class="success">
    <h3>
      Complete
    </h3>
    <a class="btn" href="/" style ="background: rgba(255,255,255,.7);color: #000;font-size: 15px;border: 2px double #fff;">Back</a>
  </div>
</div>
