<html>
<head>
  <title>miniblog</title>
  <style type ="text/css" href="./style.css"></style>
  <link href ="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src ="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity ="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin ="anonymous"></script>
  <meta charset="UTF-8">
  <meta name ="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  <link href ="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href ="./materialize/css/materialize.css" rel="stylesheet" media="screen,projection" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
        $('.slider').bxSlider({
            auto: true,
            pause: 5000,
        });
    });
  </script>
  <script type="text/javascript">
    (function ($) {
    $(function () {
      $('.button-collapse').sideNav();
    });
    })(jQuery);
  </script>

</head>
<body>
  <nav class ="blue-grey darken-4">
    <ul class ="right hide-on-med-and-down">
    <% if user_signed_in? %>
    <ul class ="nav">
     <li ><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    <% else %>
     <li><%= link_to "Sing in", new_user_session_path, method: :post %></li>
     <li><%= link_to "Sign up", new_user_registration_path, method: :get %></li>
    <% end %>
    </ul>
      </ul>
    <div class ="nav-wrapper container">
      <div class="side-nav-button">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
        <ul class="side-nav" id="mobile-demo" style = "background-color: black ">
          <li>
            <ul class="collapsible">
              <li>
                <div class="slider" style="height: 250px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                  <img src="http://switch-box.net/wp-content/uploads/2015/01/free-resources-mac-photos-06.jpg" style = "height: 270px">
                  <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m67998550544_1.jpg?1544583861" style = "height: 270px;">
                  <img src="https://stat.ameba.jp/user_images/20170312/11/core-tenshodo/ab/64/j/o0960096013887923647.jpg?caw=800" style = "height: 270px;">
                </div>
                  <ul>
                    <a style="text-align:center;">Takahisa Kawaguchi</a>
                    <li><a href="/" class="active" style = "color:white"><i class="fa fa-home fa-2x" style="color:orange;"></i> Home</a></li>
                    <li><a href="/blog" class="side--blog" style = "color:white"><i class="fa fa-terminal fa-2x" style="color:yellow;"></i> Blog</a></li>
                    <li><a href="/archive" class="side--archive" style = "color:white"><i class="fa fa-archive fa-2x" style="color:blue;"></i> Archive</a></li>
                    <li><a href="/portfolio" class="side--projects" style = "color:white"><i class="fa fa-code fa-2x"style="color:green;"></i> Projects</a></li>
                    <li><a href="/about" class="side--about" style = "color:white"><i class="fa fa-child fa-2x" style="color:red;"></i> About</a></li>
                    <li><a href="/contact" class="side--contact" style = "color:white"><i class="fa fa-send fa-2x" style="color:purple;"></i> Contact</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </ul>
      </a>
    </div>
  </nav>
  <div class="all-body-click-region  inner__wrapper" style="display: block;">
    <img src="https://images.pexels.com/photos/1674817/pexels-photo-1674817.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=350.0&amp;w=1400" srcset="https://images.pexels.com/photos/1674817/pexels-photo-1674817.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=250.0&amp;w=1000 1000w,https://images.pexels.com/photos/1674817/pexels-photo-1674817.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=375.0&amp;w=1500 1500w,https://images.pexels.com/photos/1674817/pexels-photo-1674817.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=500.0&amp;w=2000 2000w,https://images.pexels.com/photos/1674817/pexels-photo-1674817.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=625.0&amp;w=2500 2500w,https://images.pexels.com/photos/1674817/pexels-photo-1674817.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=750.0&amp;w=3000 3000w,https://images.pexels.com/photos/1674817/pexels-photo-1674817.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=875.0&amp;w=3500 3500w,https://images.pexels.com/photos/1674817/pexels-photo-1674817.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=1000.0&amp;w=4000 4000w,https://images.pexels.com/photos/1674817/pexels-photo-1674817.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=1250.0&amp;w=5000 5000w">
    <div class="cover__container  global-text-color" style="display: block;">
      <h2 class="body-content" style="text-align: center;">Pixerialize<br></h2>
      <h4 class="body-content2" style="text-align: center;">best free stock photos ＆ movies
        <br>During the download, you are requested to click affiliate</h4>
<!--         <div class="col s12 m9"  style= "height: 800px;width: 500;text-align: center"> -->
        <div style="text-align:center;margin-top:50px;">
          <% if user_signed_in? %>
          <a href= /articles/new class="waves-effect  waves-light  btn  btn-large  opac-btn"
          style ="background: #263238;color: white;font-size: 20px;border: 2px double #fff;">
            Writing
          </a></br></br>
          <a href= https://twitter.com/hideandfire2017 class="waves-effect  waves-light  btn  btn-large  opac-btn" style ="background: #263238;color: white;font-size: 20px;border: 2px double #fff;">
            Twitter
          </a>
          <a href= https://github.com/yukitohiroki class="waves-effect  waves-light  btn  btn-large  opac-btn" style ="background: #263238;color: white;font-size: 20px;border: 2px double #fff;">
            Github
          </a>
          <% else %>
          <a href= https://twitter.com/hideandfire2017 class="waves-effect  waves-light  btn  btn-large  opac-btn" style ="background: #263238;color: white;font-size: 20px;border: 2px double #fff;">
            Twitter
          </a>
          <a href= https://github.com/yukitohiroki class="waves-effect  waves-light  btn  btn-large  opac-btn" style ="background: #263238;color: white;font-size: 20px;border: 2px double #fff;">
            Github
         </a>
        <% end %>
      </div>
      <div class ="card">
       <ul class ="list_article">
       <!--  style="list-style:none;  background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8)),
  url(http://www.webcreatorbox.com/sample/images/bg-cherrybrossam.jpg);
  background-size: cover;" -->
         <% @articles.each do |article| %>
            <%= render partial: "article", locals: { article: article } %>
            <br><br><br>
         <% end %>
       </ul>
     </div>
     </div>
    </div>
  </div>
</div>
</body>
</html>
