<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

  <link href ="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

</head>
<body>
  <header>
    <ul id="slide-out" class="sidenav sidenav-fixed">
      <li class="user-details cyan darken-2" style = "background-image:url(http://demo.geekslabs.com/materialize-v1.0/images/user-bg.jpg);">
        <div class="row">
          <div class="col col s4 m4 l4">
            <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
              </div>
                <div class="col col s8 m8 l8">
                </div>
                  <a class="user-roal">Takahisa Kawaguchi</a>
                  <p class="user-roal">Administrator</p>
                </div>
              </li>
              <li>
                <a href = "/#" style = "text-align: center;border-bottom: 1px solid rgba(0,0,0,.1);font-weight: 700;">Home</a>
                <a href = "/#" style = "text-align: center;border-bottom: 1px solid rgba(0,0,0,.1);font-weight: 700;">About</a>
              </li>
              <% if user_signed_in? %>
              <li>
                <a href="/articles/new" style = "text-align: center;border-bottom: 1px solid rgba(0,0,0,.1);font-weight: 700;">New</a>
                <a href="/users/sign_out"  data-method="delete" style = "text-align: center;border-bottom: 1px solid rgba(0,0,0,.1);font-weight: 700;">Sign out</a>
              </li>
              <% else %>
              <li>
                <a href="/users/sign_in" style = "text-align: center;border-bottom: 1px solid rgba(0,0,0,.1);font-weight: 700;">Sign in</a>
              </li>
              <li>
                <a href="/users/sign_up" style = "text-align: center;border-bottom: 1px solid rgba(0,0,0,.1);font-weight: 700;">Sign up</a>
                </li>
              <% end %>
              <div style = "padding-left: 30px;padding-top: 10px;">
                <a class="icon"  href = "https://twitter.com/hideandfire2017?lang=ja">
                  <i class="fab fa-twitter circle blue"></i>
                </a>

                <a class="icon" href = "https://www.facebook.com/profile.php?id=100004323938556">
                  <i class="fab fa-facebook circle blue darken-4"></i>
                </a>

                <a class="icon" href = "https://github.com/yukitohiroki">
                  <i class="fab fa-github circle purple darken-3"></i>
                </a>
                <a class="icon" href = "https://www.youtube.com/channel/UCMGH8-9Dh3EdsM1KHoCmuQw">
                  <i class="fab fa-youtube circle red accent-4"></i>
                </a>
              </div>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </header>
      <section class="no-padding bg-triangle-greylight-ln-blue bg-dark-image" style="background-image:none, linear-gradient(to right, rgba(71,81,92, .75) 0%, rgba(71,81,92,.75) 100%), url(https://cdn0.scrvt.com/scrival/e9dca9078eb1b845/193cbaee982c/v/9135e2147e6a/apple-device.jpg);background-attachment:scroll, scroll, scroll;background-clip:border-box, border-box, border-box;background-origin:padding-box, padding-box, padding-box;background-position:0% 0%, 0% 0%, center center;background-repeat:repeat, repeat, no-repeat;background-size:auto, auto, cover;background-color:transparent;height:400px;">
      <nav class = "transparent">
      <div class="nav-wrapper" style = "text-align: center">
        <a href="#" class="title" style = "font-family: 'Roboto Slab';font-size: 25px;display: inline-block;font-weight: 700;padding-right: 30px;">Materialized Blog</a>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
     </nav>
    </section>
       <ul class ="list_article">
         <% @articles.each do |article| %>
            <%= render partial: "article", locals: { article: article } %>
            <br><br><br>
         <% end %>
       </ul>
     </div>
     </div>
    </div>
  </div>
</div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems, {});
      var elems = document.querySelectorAll('.collapsible');
      var instances = M.Collapsible.init(elems, {});
    });
  </script>
  <style>
    header, main, footer {
      padding-left: 300px;
    }
    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
    .sidenav .collapsible>.active .collapsible-header .chevron {
        transform: rotate(-90deg);
    }
  </style>
</body>
</html>
