<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

  <link href ="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width,initial-scale=1">

</head>
  <style>

    header, footer {
      padding-left: 300px;
    }

    .all-body-click-region {
     padding-left: 330px;
    }

    .transparent{
     padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, body, footer {
        padding-left: 0;
      }
      .title {
        padding-right: 50px;
      }
      .all-body-click-region {
      padding-left: 0px;
      }

      .transparent{
      padding-left: 0px;
      }

    }
  </style>
  <header>
    <ul id="slide-out" class="sidenav sidenav-fixed" style="transform: translateX(0px);">
            <h4 style = "text-align: center;font-size: 20px;">Yukito Hiroki</h4>
            <h5 style = "text-align: center;font-size: 15px;">Tech Expert Web Engenner</h5>
          <path d="M0 0h24v24H0z" fill="none"></path></svg></a><ul id="version-dropdown" class="dropdown-content" tabindex="0">
          </ul>
        </li>
        <li class="search">
          <div class="search-wrapper">
            <input id="search" placeholder="Search">
            <div class="search-results"></div>
          </div>
        </li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a href="/articles/shows" class="collapsible-header waves-effect waves-teal"  tabindex="0">Profile</a></li>
            <li class="bold"><a href="/" class="collapsible-header waves-effect waves-teal"  tabindex="0">Writing</a></li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Experience</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="color.html">Color</a></li>
                  <li><a href="grid.html">Grid</a></li>
                  <li><a href="helpers.html">Helpers</a></li>
                  <li><a href="media-css.html">Media</a></li>
                  <li><a href="pulse.html">Pulse</a></li>
                  <li><a href="sass.html">Sass</a></li>
                  <li><a href="shadow.html">Shadow</a></li>
                  <li><a href="table.html">Table</a></li>
                  <li><a href="css-transitions.html">Transitions</a></li>
                  <li><a href="typography.html">Typography</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Archive</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="badges.html">Badges</a></li>
                  <li><a href="buttons.html">Buttons</a></li>
                  <li><a href="breadcrumbs.html">Breadcrumbs</a></li>
                  <li><a href="cards.html">Cards</a></li>
                  <li><a href="collections.html">Collections</a></li>
                  <li><a href="floating-action-button.html">Floating Action Button</a></li>
                  <li><a href="footer.html">Footer</a></li>
                  <li><a href="icons.html">Icons</a></li>
                  <li><a href="navbar.html">Navbar</a></li>
                  <li><a href="pagination.html">Pagination</a></li>
                  <li><a href="preloader.html">Preloader</a></li>
                </ul>
              </div>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Connect</a>
              <div class="collapsible-body" style="">
                <ul>
                  <li><a href="autocomplete.html">Autocomplete</a></li>
                  <li><a href="checkboxes.html">Checkboxes</a></li>
                  <li><a href="chips.html">Chips</a></li>
                  <li><a href="pickers.html">Pickers</a></li>
                  <li><a href="radio-buttons.html">Radio Buttons</a></li>
                  <li><a href="range.html">Range</a></li>
                  <li><a href="select.html">Select</a></li>
                  <li><a href="switches.html">Switches</a></li>
                  <li><a href="text-inputs.html">Text Inputs</a></li>
                </ul>
              </div>
            </li>
          </ul>
      </ul>
  </header>
    <nav class ="transparent">
      <div class="nav-wrapper" style = "text-align: center">
        <a href="#" class="title" style = "text-align: center;font-size: 30px;margin-top: 15px;color: #CE7E2C;">
      <span>About</span>
      <span style="color: #9A744D;">me</span></a>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons" style = "color: #CE7E2C;">menu</i></a>
      </div>
     </nav>
  <body>
     <div class="all-body-click-region" style="height:500px;font-family: Bitter,serif;
        text-align: justify;font-size: 15px;padding-top: 50px;">
    	 <h5>About my profile:</h5>
    	 <p>I figure, if you clicked the About link, you probably want to know a little more than my passion for tech. </p>
    	 <p>Professionally, I'm a Software Engineer, currently working in an awesome startup, <a href="">＊＊＊＊＊</a>, based out of ********,Japan. I enjoy taking problems and turning them into simple and beautiful interface designs. I <i class="fa fa-heart" style="color:red;font-size:12px;"></i> programming and always strive for the newest technologies. Lately, I have developed a new hobby of learning human mind which in turn helps me in knowing more about <span class="tech-specs">#MachineLearning</span>. Apart from being a techie geek, you'll find me either on the playing courts or in the gym.</p><br>
    	 <h5>About my blog:</h5>
    	 This is a site created for learning HTML and CSS
    	 <p>It is one of the portfolios created for career change activities, and I would like to use it for the output of what I learned. I'm glad if I get to know engineers in various countries.
    	 I have used the awesome <a href="http://materializecss.com/">Materialize</a> Framework for the front-end designing.In case you love to see the engine behind this site, have a look at my <a href="https://github.com/yukitohiroki/miniblog" style="color:red;">Github</a>.Contact me by dropping words at <a href="mailto:qfpng09604@gmail.com" style="color:red;">qfpng09604@gmail.com</a>, if you have any query.</p>
    	 <p>Thank you Best Regards
     </div>
     </p>
     </div>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems, {});
      var elems = document.querySelectorAll('.collapsible');
      var instances = M.Collapsible.init(elems, {});
    });var pc_width = 1080;
    var device = (screen.width < 600 ? 'sp' : 'pc');
    var view_mode = (device == 'pc' || document.cookie.indexOf('view_mode=pc') != -1 ? 'pc' : 'sp');
    if (device == 'sp' && view_mode == 'pc') {
        document.getElementsByName('viewport')[0].setAttribute('content', 'width=' + pc_width + ',initial-scale=1');
    }
  </script>