<div class="col s12 m6">
  <h4>Profile</h4>
  <div class="card horizontal" style = "font-weight: :500px;height:300px;">
    <div class ="card-content" style = "color:black;min-height: 225px;">
      <p>My name is Takahisa Kawaguchi, Owner at Naples Strength & Conditioning (2019-present)</p>
Answered March 26, 2019 · Author has 139 answers and 24.1k answer views
Here’s what my profile says:

Everything I write about is geared towards things that I deeply care about. My two greatest strengths are in topics about fitness and things that relate to business matters.

I’ve been fortunate to take my passion (fitness) and monetize it (business).

Having run a CrossFit gym for over the past 8 years I’ve learned a lot of things about fitness and business. Before opening up my own gym, I was a personal trainer. In total, I’ve been coaching for over 15 years. Coupling by experience with my Masters In Business, I’ve been fortunate to make a living doing something I love.

I got into fitness because I wanted to help people. It is my hope that my blog will encourage people to step out of their comfort zone and do and create something great.

At the end of the day, the goal of improved fitness is to be able to create a quality of life that makes life enjoyable. Business is the same way. As business owners, we want to create something great while being able to provide ourselves a good living while enjoying what we love.

Feel free to reach out to me on advice about fitness and business. It is my desire to help everyone find their passion and one day monetize it.
      <p>Thank you Best Regards.</p>
    </div>
  </div>
</div>
