// Place all the styles related to the article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.bx-controls.bx-has-controls-direction.bx-has-pager{
  display:none;
}

.icon {
  i.circle {
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    background-color: #999;
    text-align: center;
  }
  .circle {
    position: relative;
    margin-right: 16px;
    margin-bottom: 16px;
    float: left;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
  }
}
.user-roal {
    color: black;
    margin-top: -16px;
    font-size: 15px;
    text-shadow: 1px 1px 1px #444;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}